# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.Rdata

# R project files
*.Rproj
.Rproj.user/

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
*.xml

# pkgdown files
public
pkgdown

# Any temp files for windows
~*
.DS_Store

# Any PDF files or conversions
*.pdf
*.png

# Data files
*.parquet
*.db
*.zst
*.bz2
inst/

# Old and backup files
*.bak
*.old
